{% extends 'index.html' %}

{% block title %}
    {{ meal_category }}
{% endblock %}

{% block content %}
    <h1>Доступные для просмотра блюда:</h1>
    {% if meals %}
        {% for meal in meals %}
            <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'cafe_core_app:meal' meal.id %}">
                {{ meal.name }}
            </a></p>
        {% endfor %}
    {% else %}
        Нет блюд
    {% endif %}
    <p><a class="btn btn-secondary btn-lg" role="button" href="{% url 'cafe_core_app:top_users' meal_category %}">
                Топ-10 пользователей по данной категории
    </a></p>
{% endblock %}